<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ben Greenberg's Homepage</title>
  {#- Add to the CSS bundle #}
  {%- css %}{% include "node_modules/bamboo.css/dist/bamboo.min.css" %}{% endcss %}
  {%- css %}{% include "src/public/css/index.css" %}{% endcss %}

  {#- Render the CSS bundle #}
  {%- if eleventy.env.runMode === "serve" %}
  {# External files (local dev live reload will refresh without page reload) #}
  <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
  {%- else  %}
  {# Inlined CSS (fastest site performance in production) #}
  <style>{% getBundle "css" %}</style>
  {%- endif %}
</head>
<body>
  <header>
    <a href="/" class="home-link">Ben Greenberg</a>

    <nav>
      <h2 class="visually-hidden">Top level navigation menu</h2>
      <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
        {%- endfor %}
      </ul>
    </nav>
  </header>
  {{ content | safe }}
</body>
</html>
