.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

body { padding: 1rem 1rem }


/* Postlist */
ol.postlist { padding: 0 }
ol.postlist li  {
  margin: 1rem 0px 1rem 0px;
  list-style-type: none;
}
ol.postlist li.postlist-item-active a {
  text-decoration: underline;
}


/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}
